.cards{
    display: flex;
    align-items: baseline;
    margin: 50px;
    width: 1124px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4px;
}

.msj{
    font-size: 25px;
margin-top: 30px;
}

.nextPrev{
    display: flex;
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    height: 23px;
    border-radius: 5px;
    align-items: center;
}

.numPag{
    display: flex;
    margin-inline: 4px;
    font-size: 16px;
    font-family: fantasy;
    padding-inline: 8px;
    height: 23px;
    border-radius: 5px;
    align-items: center;
    color:antiquewhite
}

.page{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(32 30 30);
    padding-inline: 7px;
    top: 1404px;
    height: 32px;
}