.nav {
    display: flex;
    background-color: rgb(32 30 30);
    align-items: center;
    margin-top: 4px;
    margin-left: -25px;
    width: 1264px;
    height: 36px;
}

.container {
    display: flex;
    align-items: center;
    margin-inline: 48px;
}

.div {
    display: flex;
}



.titulo {
    display: flex;
    align-items: center;
    margin-inline: 11px;
    color: aliceblue;
}

.search {
    display: flex;
    margin-right: 13px;
}

.inputTex {
    display: flex;
    background-color: transparent;
    border: solid;
    border-color: black;
    width: 26px;
    height: 17px;
    border-width: 1px;
    margin-inline: 5px;
    border-radius: 6px;
    margin-block: 5px;
}

.button {
    display: flex;
    background-color: rgba(10,10,10, .7);
    border: solid;
    border-width: 1px;
    border-color: #0a5260;
    margin-left: 7px;
    color: white;
    height: 22px;
    align-items: center;
}

.button:hover {
    background-color: #0a5260;
    box-shadow: 0px 0px 4px 3px rgb(46, 45, 45);
}