.nav {
    background-color: rgb(26 50 58);
    display: flex;
    border-radius: 13px;
    margin-top: -18px;
}

.label {
    position: relative;
    margin-inline-start: 3px;
    margin-block-start: -4px;
    color: rgb(242, 230, 207);
    font-size: 32px;
}

.label2 {
    color: rgb(0 0 0);
    position: relative;
    font-size: 28px;
    margin-left: -83px;
    margin-right: 14px;
    margin-bottom: 0px;
}

.image {
    position: relative;
    width: 68px;
    margin-inline-start: 5px
    
}

.button{
    background-color: rgb(10 82 96);
    margin-inline: 3px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 19px;
    color: antiquewhite;
}

.button:hover{
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.6);
}

.buttons {
    display: flex;
    align-items: center;
    margin-inline: 20px;
    width: 0px;
}

.user{
    background-color: rgb(2, 61, 79);
    display: flex;
    align-items: center;
    border-radius: 14px;
    margin-left: 12px;
    margin-top: 10px;
    height: 48px;
    flex-direction: row-reverse;
}

.name{
    display: flex;
    color: antiquewhite;
    margin-right: 17px;
    margin-top: -1px;
}

.button2{
    background-color: rgb(7, 153, 182);
    margin-inline: 3px;
    border: none;
    width: 42px;
    height: 42px;
    margin-left: 14px;
    border-radius: 39px;
    font-size: 24px;
}

.icon{
    display: flex;
    font-size: 29px;
    margin-left: 7px;
    background-color: rgb(7, 153, 182);
    border-radius: 14px;
    margin-right: 5px;
}

.select{
    display: flex;
    visibility: hidden;
}

.minDiv{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 1057px;
    margin-left: 11px;
    color: antiquewhite;
    margin-top: 23px;
}
.minDiv2{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 1091px;
    margin-left: 11px;
    color: antiquewhite;
    margin-top: 23px;
}