.div{
    display: flex;
    margin-top: -4px;
    background-color: rgb(32 30 30);
    margin-inline: 260px;
    margin-left: -25px;
    border-bottom-right-radius: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    margin-inline: 110px;
    background-color: transparent;
    border: none;
    color: white;
    height: 25px;
    align-items: center;
}
.button:hover{
    color: #0a5260
}
