.divMay{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divMed{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(32 30 30);
    margin-top: 8px;
    height: 44px;
}

@keyframes perfil {
0% {width: 0%;}
100% {width: 29%;}
}

.divMen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 12px;
    background-color: rgb(16 16 16);
    padding-inline: 30px;
    border-radius: 15px;
    height: 34px;
    width: 31px;
    border-radius: 6px;
    
}
.button{
    background: bottom;
    display: flex;
    width: 92px;
    background-color:transparent;
    height: 34px;
    position: relative;
    margin-left: 139px;
    margin-top: -40px;
    border: none;
}
.name{
    display: flex;
    color: antiquewhite;
}
.label{
    display: flex;
    color: antiquewhite;
    font-size: 11px;
}
.h2{
    display: flex;
    position: relative;
    font-size: 20px;
    color: antiquewhite;
    top: -23px;
}
.div3{
    display: flex;
    margin-left: -132px;
}