.containerMayor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.containerMedio{
    display: flex;
    margin-top: 13px;
    background-color: rgb(32 30 30);
    align-items: center;
    width: 1032px;
    height: 266px;
    padding-inline: -5px;
    padding-block: 28px;
    color: antiquewhite;
    flex-wrap: wrap;
}

.containerMenor{
    display: flex;
    margin-inline: 48px;
    margin-bottom: 25px;
    padding: 4px;
    flex-direction: column;
}

.label{
    display: flex;
    font-size: 14px;
    margin-left: 10px;
}

.input{
    display: flex;
    width: 129px;
    background-color: transparent;
    border: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
    height: 21px;
    border-radius: 15px;
}

.button{
    display: flex;
    background-color: rgba(10,10,10, .7);
    border: solid;
    position: absolute;
    border-width: 1px;
    border-color: #0a5260;
    top: 536px;
    left: 600px;
    color: white;
    height: 30px;
    align-items: center;
}
.button:hover{
    background-color: #0a5260;
    box-shadow: 0px 0px 4px 3px rgb(46, 45, 45);
}


.tempeName {
    display: flex;
    margin-inline: 3px;
    font-size: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.divTemper{
    display: flex;
    padding-top: -5px;
    margin-top: -7px;
    justify-content: center;
    flex-wrap: wrap;
    height: 0px;
}

.containerMedio2{
    display: flex;
    margin-top: -69px;
    margin-left: 46px;
    flex-wrap: wrap;
}