.containerMayor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.containerMedio{
    display: flex;
    flex-direction: column;
    margin-block: 22px;
   background-color: rgb(2, 61, 79);
    align-items: center;
    border-radius: 51px;
    padding-inline: 60px;
    padding-block: 28px;
    color: antiquewhite;
}

.containerMenor{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 4px;
    flex-direction: column;
    align-items: center;
}

.label{
    display: flex;
    justify-content: center;
}

.unput{
    display: flex;
}

.button{
    background-color: rgb(7, 153, 182);
    margin-inline: 3px;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
}

.tempeName {
    display: flex;
    margin-inline: 3px;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.divTemper{
    display: flex;
    padding-top: -5px;
    margin-top: -7px;
    justify-content: center;
    flex-wrap: wrap;
}