.containerMayor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.containerMedio{
    display: flex;
    flex-direction: column;
    margin-block: 22px;
    background-color: rgb(20 43 50);
    align-items: center;
    border-radius: 51px;
    padding-inline: 60px;
    padding-block: 28px;
    color: antiquewhite;
}

.containerMenor{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 4px;
    flex-direction: column;
    align-items: center;
}

.label{
    display: flex;
    justify-content: center;
}

.unput{
    display: flex;
}

.button{
    background-color: rgb(10 82 96);
    margin-inline: 3px;
    border: none;
    width: 85px;
    margin-top: 46px;
    height: 30px;
    border-radius: 5px;
}
.button:hover{
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.6);
}


.tempeName {
    display: flex;
    margin-inline: 3px;
    font-size: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.divTemper{
    display: flex;
    padding-top: -5px;
    margin-top: -7px;
    justify-content: center;
    flex-wrap: wrap;
    height: 0px;
}