.button {
    display: flex;
    width: 200px;
    height: 89px;
    border: none;
    margin: 11px;
    background-color: rgb(32, 30, 30);
    padding: 30px;
    border-radius: 19px;
    font-size: 21px;
    font-family: sans-serif;
    color: aliceblue;
}

.button:hover{
    background-color: rgba(7, 153, 182, 1);
    font-size: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 445px; */
    margin-inline: 14px;
    margin-top: 9px;
}

.nextPrev{
    display: flex;
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    height: 23px;
    border-radius: 5px;
    align-items: center;
}

.numPag{
    display: flex;
    margin-inline: 4px;
    font-size: 16px;
    font-family: fantasy;
    padding-inline: 8px;
    height: 23px;
    border-radius: 5px;
    align-items: center;
    color:antiquewhite
}

.page{
    display: flex;
    align-items: center;
    background-color: rgb(32 30 30);
    padding-inline: 7px;
    top: 1404px;
    height: 32px;
}